#sidebar{
    position: relative;
    top: 4vh;
    left: 2vw;
    height: 80vh;
    width: 20em;
    background-color: var(--spectrum-gray-50);
    border-radius: 1em;
    box-shadow: 0 0 1em var(--spectrum-gray-300);
    padding: 1em;
}

#sidebar sp-accordion {
    --mod-accordion-background-color-hover: transparent;
    --mod-accordion-divider-thickness: 0;
}

#sidebar sp-dropzone {
    --mod-drop-zone-border-color: var(--spectrum-gray-700);

    svg path {
        fill: var(--spectrum-gray-900);
    }

   
}

.dropzone-content{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    height: 10em;
    border-radius: 1em;
    background-color: var(--spectrum-gray-100);
    padding-left: 2em;
    padding-right: 2em;
}

sp-accordion-item sp-slider {
    margin-top: 1.5em;
}